<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title> Home </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="cavaleiros">
            <% cavaleiros.forEach(element => { %>
            <a href="/detalhes/<%= element.id %> ">
                <article class="card">
                    <div class="card_image">
                        <img src="<%= element.img %> " alt="<%= element.nome %> ">
                    </div>
                    <div class="nome__do__cavaleiro">
                        <div> <%= element.signos %> </div>
                        <div> <%= element.nome %> </div>
                    </div>
                </article>
            </a>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
<script src="/js/script.js"> </script>
</html>