<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> Editar </title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="form__container">
            <form method="post" action="/editar/<%= filmeAtual.id %> ">
                <fieldset>
                    <legend> Editando o <%= filmeAtual.nome %>  </legend>
                    <fieldset class="fieldset__data">
                        <input type="text" name="nome" required value="<%= filmeAtual.nome %> ">
                        <label for="nome"> Nome Filme </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="diretor" required value="<%= filmeAtual.diretor %>">
                        <label for="diretor"> Nome Diretor </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="url" name="img" required value="<%= filmeAtual.img %>">
                        <label for="img"> Imagem </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="number" name="duracao" required value="<%= filmeAtual.duracao %>">
                        <label for="duracao"> Duração </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="ano" required value="<%= filmeAtual.ano %>">
                        <label for="ano"> Ano de Lançamento </label>
                    </fieldset>

                    <fieldset class="fieldset__data">
                        <input type="text" name="iframe" required value="<%= filmeAtual.iframe %>">
                        <label for="iframe"> Iframe </label>
                    </fieldset>
                    <div id="btn__container">
                        <button id="btn__submit" type="submit"> Enviar </button>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</body>
</html>